

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* styles.css or global.css */
@keyframes clickableAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-clickable {
  @apply animate-pulse duration-1000 ease-in-out cursor-pointer;
  animation-name: clickableAnimation;
}



@keyframes flowing-gradient {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

.flowingGradient {
  background-image: linear-gradient(
    to right,
    #dbf8ff,  /* Start with the same color */
    #ffffff,
    #e0e7ff,
    #ffffff,
    #dbf8ff   /* End with the same color */
  );
  background-size: 200% auto;
  animation: flowing-gradient 20s linear infinite;
}

@keyframes moving-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button-container {
  position: relative;
  /* Other styles for the button container */
}

.button-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent; /* Adjust border width as needed */
  background-image: linear-gradient(90deg, transparent, purple, transparent);
  background-size: 200% 200%;
  animation: moving-gradient 2s linear infinite; /* Adjust duration as needed */
  z-index: -1;
  /* Add a border-radius if the element has rounded corners */
  border-radius: inherit;
}

.button-container:hover::before {
  /* Customize the animation behavior on hover */
  animation-play-state: running;
}


.my-card {
  /* Styles from the .card class */
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;

  /* Additional styles you want to apply */
  /* ... */
}

.my-card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.my-card:hover:before,
.my-card:hover:after {
  animation: none;
  opacity: 0;
}

.my-card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.my-card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

